/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #b30000;
    color: #fff;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

/* Navigation Styles */
.nav-box {
    
    
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    background-color: #fff;
    color: #971c0c;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #b30000;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

/* Section Styles */
#about {
    background-color: #ffe6e6;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #b30000;
}

section p {
    line-height: 1.6;
}

strong {
    color: #b30000;
}

/* Image Styles */
img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#services{
    
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#footer-about {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

#footer-about h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#footer-about p {
    font-size: 1em;
    color: #555;
}

#footer-credits {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

#footer-credits h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#footer-credits p {
    font-size: 1em;
    color: #555;
}

#quote {
    text-align: center;
    margin: 20px 0;
    font-size: 1.5em;
    color: #b30000;
}